.event_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 26px;
}

.event_item {
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px rgba(196, 196, 196, 0.2);
}
.event_item__view {
    height: 140px;
    overflow: hidden;
}
.event_item__view img {
    width: 100%;
}

.event_item__desc {
    padding: 24px;
}
.event_item__desc h3 {
    margin: 0;
}