@import url("variable.css");
@import url("home.css");
@import url("event.css");

body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
h2{
    margin: 0;
}

.flexTest{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.events{
    background-color: white;
    margin: .5em .5em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-width: 40%;
    border-radius: .3em;
    padding: 1em;
    flex: 1;
}
.events:hover{
    background-color: rgb(215, 237, 255);
}
.wrapper{
    width: 80%;
    margin: auto;
}
header nav{
    width: 100%;
}

header ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}
header{
    width: 100%;
}
header li{
    flex: 1;
    list-style: none;
    text-align: center;
}
