:root{
    --main-color : #0c2047;
    --secondary-color : #18b2e3;
    --hero-txt-color : #28e1ed;
    --red-color : #ff2e53;
    --txt-color: #5a5a5a;
}
.inner {
    max-width: 1080px;
    width: 95%;
    margin: auto;
}